name: Format Check

# Run on all push and pull requests
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  format-check:
    name: Run format check
    uses: nasa/cFS/.github/workflows/format-check.yml@main